<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>還錢紀錄頁面</title>
    <link rel="stylesheet" href="{{url_for('static', filename='owemoney.css')}}">
</head>
<body>
    <div>
        <nav id="navbar2">
            <a href="{{ url_for('home') }}"><img class="logo" src="{{url_for('static', filename='image/image.jpeg')}}" width="120" height="120" border="2"></a>            
            <a class="left_icon" href="{{ url_for('home')}}">Home</a>
            <a class="left_icon" href="{{ url_for('owemoney')}}">Owe Money</a>
            <a class="left_icon" href="{{ url_for('returnmoney')}}">Pay Off</a>
            <a class="small_img" href="{{ url_for('info')}}"><img src="{{url_for('static', filename='image/user.png')}}" width="40" height="40"></a>
        </nav>
    </div>
    <div id="main_bady">
        <div class="login-container">
            <h1>請輸入還錢紀錄</h1>
            <form id="oweinput" action="{{url_for('return_submit')}}" method="POST">
                <select name="person1" placeholder="請選擇" required>
                    {% for person in persons %}
                        <option>{{ person }}</option>
                    {% endfor %}
                </select>
                <text>還</text>
                <select name="person2" placeholder="請選擇" required>
                    {% for person in persons %}
                        <option>{{ person }}</option>
                    {% endfor %}
                </select>
                <input name="amount" type="number" min="0"placeholder="金額" required>
                <text>元</text>
                <div class="login-button">
                    <button type="submit">確認</button>
                </div>
            </form>           
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <script>
                        alert("{{ message }}");
                    </script>
                {% endfor %}
        {% endif %}
    {% endwith %}
        
</body>
</html>
